<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/star.png" type="favicon/ico" />

    <title>Grafika Saran</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="nivo-lightbox/nivo-lightbox.css">
    <link rel="stylesheet" href="nivo-lightbox/nivo-lightbox-theme.css">
    <link rel="stylesheet" href="css/main.css">

  </head> 
  <body>

    <!--== 4. Header ==-->

        <section class="header" id="header">
            <div class="navigationbar  navbar-fixed-top">
                <div class="container">
                    <a href="#" class="logo">
                       logo 
                    </a>
                </div> <!-- /.container -->
            </div> <!-- /.navigation-bar -->
            <div class="header-description text-center">
                <div class="header-content wow bounce animated">
                    <h1 class="heading">grafika šaran</h1>
                    <p class="heading-subtitle">
                        pojednostavite svoj posao
                    </p> 
                    <hr>
                    <%= link_to 'Prijava', new_session_path, class: "btn btn-primary btn-xl" %>
                    &nbsp; 
                    <%= link_to 'Registracija', new_user_path, class: "btn btn-primary btn-xl" %>
		        	

                </div> <!-- /.header-content -->   
            </div> <!-- /.header-description -->
        </section> <!-- /#header -->

  </body>
</html>