<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/star.png" type="favicon/ico" />

    <title>Grafika Saran</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="nivo-lightbox/nivo-lightbox.css">
    <link rel="stylesheet" href="nivo-lightbox/nivo-lightbox-theme.css">
    <link rel="stylesheet" href="css/main.css">

  </head> 
    
    <body id="body">

<header id="navigation" class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- /responsive nav button -->
                    
                    <!-- logo -->
                    <a class="navbar-brand" href="#body">
                        <h1 id="logo">
                            Logo
                        </h1>
                    </a>
                    <!-- /logo -->
                    </div>
                    <!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="Navigation">
                    <ul id="nav" class="nav navbar-nav">
                        <li><a href="#body">Početna</a></li>
                        <li class="current"><a href="#">Uposlenici</a></li>
                        <li><a href="#">Projekti</a></li>
                        <li><a href="#">Poslovanje</a></li>
                        <li><a href="#">Uredi profil</a></li>
                        <li><a href="#">Odjava</a></li>
                    </ul>
                </nav>
                <!-- /main nav -->
                
                
            </div>
        </header>

<section id="showcase">
            <div class="container">
                <div class="row wow fadeInDown" data-wow-duration="500ms">
                    <div class="col-lg-12">
                    
                        <!-- section title -->
                        <div class="title text-center">
                            <h2>Uposlenici <span class="color">grafike</span></h2>
                            <div class="border"></div>
                        </div>
                        <!-- /section title -->
                        
                    </div> <!-- /end col-lg-12 -->
                </div> <!-- end row -->
            </div>  <!-- end container -->
    
            <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="500ms">
                       <article class="team-mate">
                            <div class="member-photo">
                                <!-- member photo -->
                                <img class="img-responsive" src="http://navigator-upload-prod.s3.amazonaws.com/attachments/files/000/002/666/medium/grafikasaran.jpg" alt="Projekat">
                                <!-- /member photo -->
                                
                                <!-- member social profile -->
                                <div class="mask">
                                    <ul class="clearfix">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    </ul>
                                </div>
                                <!-- /member social profile -->
                            </div>
                            
                            <!-- member name & designation -->
                            <div class="member-title">
                                <h3>Projekat 1</h3>
                                <span>P1</span>
                            </div>
                            <!-- /member name & designation -->
                            
                            <!-- about member -->
                           <div class="member-info">
                               <p>Kratki opis prvog projekta</p>
                           </div>
                           <!-- /about member -->
                           
                       </article>
                    </div>
                    <!-- end team member -->
                    
                    <!-- team member -->
                    <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="200ms">
                       <article class="team-mate">
                            <div class="member-photo">
                                <!-- member photo -->
                                <img class="img-responsive" src="http://navigator-upload-prod.s3.amazonaws.com/attachments/files/000/002/666/medium/grafikasaran.jpg" alt="Projekat">
                                <!-- /member photo -->
                                
                                <!-- member social profile -->
                                <div class="mask">
                                    <ul class="clearfix">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    </ul>
                                </div>
                                <!-- /member social profile -->
                            </div>
                            
                            <!-- member name & designation -->
                            <div class="member-title">
                                <h3>Projekat 2</h3>
                                <span>P2</span>
                            </div>
                            <!-- /member name & designation -->
                            
                            <!-- about member -->
                           <div class="member-info">
                               <p>Kratki opis drugog projekta</p>
                           </div>
                           <!-- /about member -->
                        </article>
                    </div>
                    <!-- end team member -->
                    
                    <!-- team member -->
                    <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="400ms">
                       <article class="team-mate">
                            <div class="member-photo">
                                <!-- member photo -->
                                <img class="img-responsive" src="http://navigator-upload-prod.s3.amazonaws.com/attachments/files/000/002/666/medium/grafikasaran.jpg" alt="Projekat">
                                <!-- /member photo -->
                                
                                <!-- member social profile -->
                                <div class="mask">
                                    <ul class="clearfix">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    </ul>
                                </div>
                                <!-- /member social profile -->
                            </div>
                            
                            <!-- member name & designation -->
                            <div class="member-title">
                                <h3>Projekat 3</h3>
                                <span>P3</span>
                            </div>
                            <!-- /member name & designation -->
                            
                            <!-- about member -->
                           <div class="member-info">
                               <p>Kratki opis trećeg projekta</p>
                           </div>
                           <!-- /about member -->
                       </article>
                    </div>
                    <!-- end team member -->
                    
                    <!-- team member -->
                    <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                       <article class="team-mate kill-margin-bottom">
                            <div class="member-photo">
                                <!-- member photo -->
                                <img class="img-responsive" src="http://navigator-upload-prod.s3.amazonaws.com/attachments/files/000/002/666/medium/grafikasaran.jpg" alt="Meghna">
                                <!-- /member photo -->
                                
                                <!-- member social profile -->
                                <div class="mask">
                                    <ul class="clearfix">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    </ul>
                                </div>
                                <!-- /member social profile -->
                            </div>
                            
                            <!-- member name & designation -->
                            <div class="member-title">
                                <h3>Projekat 4</h3>
                                <span>P4</span>
                            </div>
                            <!-- /member name & designation -->
                            
                            <!-- about member -->
                           <div class="member-info">
                               <p>Kratki opis četvrtog projekta</p>
                           </div>
                           <!-- /about member -->
                       </article>
                    </div>
                    <!-- end team member -->
            
        </section>   <!-- End section -->
        </body>
        </html>